body {
    text-align: center;
}
.count {
    font-size: 4rem;
}
button {
    
    font-size: 3rem;
    background-color: cyan;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 16px;

}
.changeby {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    margin: 16px 8px;

    
}